/*html*/
html{
  font-family: 'Dosis', sans-serif;
  margin:0em;
  padding:0em;
  box-sizing:border-box;
  background-color:none;

}

*,*::before, *::after{
  box-sizing:inherit;
}

/*body*/
body {
  margin:0em;
  padding:0em;
}

/*Header*/
header {
    background-image: url("/img/background.jpg");
    background-repeat: repeat;
    display:block;
  }

.beetle-left {
    float:left;
    width:10%;
    margin:0em;
    padding:0em;
    border:2em;
  }

.beetle-right{
    float:right;
    /*clear:right;*/
    width:10%;
    margin:0em;
    padding:0em;
    border:2em;
  }

/*h1*/
h1 {
  text-align:center;
  color:#512100;
  font-size:2.75rem;
  margin:0.25em 0em 0.25em 0em;
}

/*h2*/
h2 {
  text-align:center;
  font-size:1.75rem;
  position:absolute;
  bottom:1em;
  color:white;
  width:100%;
  display:inline;
}

/*Nav*/
nav{
  background-color:#9a816d;
  text-align:center;
}

nav ul {
  list-style:none;
  margin:0em;
  padding:1em 0em 1em 0em;
  display:block;
  font-size:1rem;
  font-weight:bold;
}

nav li {
  display:inline-block;
  margin:0em 0.5em 0em 0.5em;
  padding:0em 0.5em 0em 0.5em;
  font-size:1.5em;
}

nav a {
  color: #fff;
  border-radius:4px;
}

/*body*/
p {
  text-align:center;
  float:left;
  margin:0em;
  font-size:0.5rem;
  position:absolute;
  bottom:1em;
  color:black;
  width:100%;
}

/*all img*/

/*rocks*/
.rocksimg {
  background-image:url("/img/rocks.jpg");
  background-repeat:no-repeat;
  margin:0em;
  padding:0em;
  border:0em;
  width:100%;
  display:block;
}

.rocks {
  margin:0em;
  padding:0em;
  border:0em;
  position:relative;

}

/*ant nest*/
.ant-nestimg {
  float:left;
  clear:both;
  margin:0em;
  padding:0em;
  border:2em;
  width:50%;
  display:block;
  background-image:url("/img/ant-nest.jpg");
  background-repeat:no-repeat;
}

.ant-nest {
  margin:0em;
  padding:0em;
  border:0em;
}

/*stag*/
.stagimg {
  float:right;
  margin:0em;
  padding:0em;
  border:2em;
  width:50%;
  display:block;
  background-image:url("/img/stag.jpg");
  background-repeat:no-repeat;
}

.stag {
  margin:0em;
  padding:0em;
  border:0em;
}

/*dung*/
.dungimg {
  float:left;
  margin:0em;
  padding:0em;
  border:2em;
  width:50%;
  display:block;
  background-image:url("/img/dung.jpg");
  background-repeat:no-repeat;
}

.dung {
  margin:0em;
  padding:0em;
  border:0em;
}

/*tortoise*/

.tortoiseimg {
  float:right;
  margin:0em;
  padding:0em;
  border:2em;
  width:50%;
  display:block;
  background-image:url("/img/tortoise.jpg");
  background-repeat:no-repeat;
}

.tortoise {
  margin:0em;
  padding:0em;
  border:0em;
}

/*footer*/

.logobottomimg {
  margin:0em;
  padding:0em;
  border:0em;
  width:10%;
  display:block;

.logobottom {

}
}
